<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <div class="container">
    <a class="logo-header" href="https://works.vn">
      <img src="./assets/img/lg.png" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i class="fas fa-ellipsis-v"></i>
    </button>

    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav text-right">
        <li class="nav-item" style="margin-right: 15px">
          <a href="https://play.google.com/store/apps/details?id=com.worksfit.employer" target="_blank"
             class="icon-google-play">
            <img src="./assets/img/icon-google-play.png" alt="logo" style="height: 39px;">
          </a>
        </li>
        <li class="nav-item" style="margin-right: 10px">
          <button type="button" class="btn candidate" (click)="candi()">Cho người tìm việc</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" id="signup">
  <div class="row">
    <div class="col-xs-0 col-sm-2 col-lg-4"></div>
    <div class="col-xs-12 col-sm-8 col-lg-4 content">
      <form (ngSubmit)="onSubmit();" [formGroup]="formPasswordReset">
        <div class="title">
          <h2 class="text-center">TẠO MẬT KHẨU MỚI</h2>
        </div>
        <div class="row password">
          <div class="col-lg-12 text-center password">
            <div class="inner-addon left-addon">
              <i class="icon-input"><img src="../assets/img/key.png" alt=""> </i>
              <input type="password" name="" class="form-control" placeholder="Mật khẩu mới" formControlName="password" required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-dangerous">
                <div *ngIf="password.errors.required">
                  Bạn không được để trống trường này.
                </div>
                <div *ngIf="password.errors.minlength">
                  Mật khẩu phải dài ít nhất 8 kí tự!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row password">
          <div class="col-lg-12 text-center retypePwd">
            <div class="inner-addon left-addon">
              <i class="icon-input"><img src="../assets/img/key.png" alt=""> </i>
              <input type="password" name="" class="form-control" placeholder="Nhập lại mật khẩu mới"
                     formControlName="rePassword" required>
              <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)" class="alert-dangerous">
                <div *ngIf="rePassword.errors.required">
                  Bạn không được để trống trường này.
                </div>
                <div *ngIf="password.valid && MatchPassword">
                  Xác nhận mật khẩu không trùng khớp!
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row agree">-->
        <!--<div class="checkbox">-->
        <!--<input type="checkbox" name="remember">-->
        <!--<label for="">Đồng ý với <a href="#" title="">điều khoản</a> của PartTimeJobs</label>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row submit">
          <div class="col-lg-12 text-center btn-block">
            <button [disabled]="formPasswordReset.invalid" class="btn btn-large btn-block btn-primary">Hoàn tất</button>
          </div>

        </div>
        <div class="row askcomfirm">
          <div class="col-lg-12  text-center checkbox">
            <label>Bạn đã có tài khoản? <a routerLink="/" title="">Đăng nhập</a> </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-0 col-sm-2 col-lg-4"></div>
  </div>
</div>
<div class="row coppyright text-center">
  <div class="col-sm-12"><strong>STARTUP WORKSVN</strong></div>
  <div class="col-xl-12 text-center" style="padding-bottom: 20px;">
    <span style="padding: 10px;"><strong>Email hỗ trợ: </strong>workshotro@gmail.com </span>
    <span style="padding: 10px;"><strong>Địa chỉ: </strong>144 Xuân Thủy, Cầu Giấy, Hà Nội</span>
  </div>
</div>
