.container-fluid{
  padding: 100px 40px;
}
.mod-content {
  width: 600px;
}

.inner-addon {
  position: relative;
}

.inner-addon .svg-inline--fa {
  position: absolute;
  margin: 22px 0px 0px 10px;
  /*pointer-events: none; */
}

.left-addon .svg-inline--fa {
  left: 0px;
  color: #5f5757;
}

div.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

div.content .title h2 {
  font-size: 24px;
  font-weight: bold;
}

div.content .title p {
  text-align: center;
  color: #464646;
}

div.content .disconnect {
  margin-top: 20px;
}

div.content .disconnect p {
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  div.content .disconnect {
    padding-left: 20px;
    padding-right: 10px;
  }
}

div.content input {
  background-color: #f1f1f1;
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content .name .lastname .left-addon input {
  padding-left: 35px;
}

div.content .email .left-addon input {
  padding-left: 35px;
}

div.content .password .left-addon input {
  padding-left: 35px;
}

div.content .name .left-addon input {
  padding-left: 35px;
}

div.content .address .left-addon input {
  padding-left: 35px;
}

div.content .phone .left-addon input {
  padding-left: 35px;
}

div.content .website .left-addon input {
  padding-left: 35px;
}

div.content .agree .checkbox {
  display: inline-block;
  width: 420px;
  height: 40px;
}

div.content .agree .checkbox input {
  display: inline-block;
  width: 17px;
  height: 17px;
  left: 0px;
  right: 0px;
  margin-left: 20px;
}

div.content .agree .checkbox label {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
}

div.content .agree .forgetpwd {
  /* margin-top: 20px; */
  text-align: right;
}

div.content .agree .forgetpwd label {
  padding-right: 20px;
}

div.content .agree .forgetpwd label a {
  color: #464646;
  font-weight: lighter;
}

div.content .submit {
  margin-top: 20px;
}

div.content .submit button {
  background-color: #499ae0;
  border: none;
  height: 40px;
}

div.content .askcomfirm {
  margin-top: 20px;
  margin-bottom: 35px;
}

div.content .askcomfirm a {
  color: #f26c4f;
}

div.content .askcomfirm .help {
  padding-bottom: 50px;
}

div.content .askcomfirm .help a {
  color: #499ae0;
  text-decoration: underline;
}

.coppyright {
  height: 38px;
  background-color: #2975b6;
}

.coppyright p {
  color: white;
  padding-top: 10px;
}

input {
  border-radius: 0.25rem !important;
}

input.ng-invalid.ng-touched {
  border: 1.5px solid #E04B39;
}

.alert-dangerous {
  color: #E04B39;
  text-align: left;
}

