<div class="container-fluid" id="signup" style="background-color: white;">
  <div class="row">
    <div class="col-xs-0 col-sm-2 col-lg-4"></div>
    <div class="col-xs-12 col-sm-8 col-lg-4 content">
      <form (ngSubmit)="onSubmit();" [formGroup]="formPasswordReset">
        <div class="title">
          <h2 class="text-center">ĐỔI MẬT KHẨU</h2>
        </div>
        <div class="row password">
          <div class="col-lg-12 text-center password">
            <div class="inner-addon left-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
              <input type="password" name="" class="form-control" placeholder="Nhập lại mật khẩu cũ" formControlName="oldPassword" required>
              <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert-dangerous">
                <div *ngIf="oldPassword.errors.required">
                  Bạn không được để trống trường này.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row password">
          <div class="col-lg-12 text-center password">
            <div class="inner-addon left-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
              <input type="password" name="" class="form-control" placeholder="Mật khẩu mới" formControlName="password" required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-dangerous">
                <div *ngIf="password.errors.required">
                  Bạn không được để trống trường này.
                </div>
                <div *ngIf="password.errors.minlength">
                  Mật khẩu phải dài ít nhất 8 kí tự!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row password">
          <div class="col-lg-12 text-center retypePwd">
            <div class="inner-addon left-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
              <input type="password" name="" class="form-control" placeholder="Nhập lại mật khẩu mới"
                     formControlName="rePassword" required>
              <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)" class="alert-dangerous">
                <div *ngIf="rePassword.errors.required">
                  Bạn không được để trống trường này.
                </div>
                <div *ngIf="password.valid && MatchPassword">
                  Xác nhận mật khẩu không trùng khớp!
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row agree">-->
        <!--<div class="checkbox">-->
        <!--<input type="checkbox" name="remember">-->
        <!--<label for="">Đồng ý với <a href="#" title="">điều khoản</a> của PartTimeJobs</label>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row submit">
          <div class="col-lg-12 text-center btn-block">
            <button [disabled]="formPasswordReset.invalid" class="btn btn-large btn-block btn-primary">Hoàn tất</button>
          </div>

        </div>
        <!--<div class="row askcomfirm">-->
        <!--<div class="col-lg-12  text-center checkbox">-->
        <!--<label>Bạn đã có tài khoản? <a (click)="redirectToPage();" title="">Đăng nhập</a> </label>-->
        <!--</div>-->
        <!--</div>-->
      </form>
    </div>
    <div class="col-xs-0 col-sm-2 col-lg-4"></div>
  </div>
</div>

