.sidebar {
  background-color: #fff;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 220px;
  z-index: 1031;
}
.sidebar.active{
  width: 68px;
}
.sidebar .sidebar-inner .sidebar-menu > li > a .title.active {
  display: none;
}
.sidebar-inner {
  position: relative;
  height: 100%;
}
@media screen and (max-width: 1439px) and (min-width: 992px) {
  .sidebar .sidebar-inner .sidebar-logo {
  border-bottom: 1px solid transparent;
  padding: 0;
  }
}
.sidebar-logo {
  /*border-bottom: 1px solid rgba(0,0,0,.0625);*/
  border-right: 1px solid rgba(0,0,0,.0625);
  line-height: 0;
  /*padding: 0 20px;*/
  /*-webkit-transition: all .2s ease;*/
  /*-o-transition: all .2s ease;*/
  transition: all .2s ease;
}
.sidebar ul {
  list-style-type: none;
}
.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.pos-r {
  position: relative!important;
}
.sidebar-menu {
  border-right: 1px solid rgba(0,0,0,.0625);
  height: calc(100vh - 65px);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}
.sidebar-menu li {
  position: relative;
}
.sidebar-menu>li>a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  position: relative;
  white-space: nowrap;
}
.sidebar-menu li a {
  color: #72777a;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.sidebar-menu>li>a .icon-holder {
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-right: 14px;
  position: relative;
  text-align: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 35px;
}
.sidebar-menu>li.dropdown ul.dropdown-menu {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  float: none;
  padding-left: 50px;
  padding-top: 0;
  position: relative;
  width: 100%;
}
.sidebar-menu>li.dropdown ul.dropdown-menu>li>a {
  display: block;
  padding: 10px 15px;
}
.page{
  padding-left: 200px;
}
.page.active{
  padding-left: 68px;
}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu li.open>ul.dropdown-menu {
  display: block!important;
}
.dropdown-menu.active{
  display: block!important;
}
.title:hover, a:hover{
  text-decoration: none !important;
}
.sidebar-link:hover{
  background-color: #d8d7d7 !important;
}
