<div class="container-fluid">

<section class="timeline">
  <div class="container">

    <div class="timeline-item"  *ngFor="let event of listEvent, let i = index">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <img src="{{event?.schoolLogoUrl}}" alt="">
          <h2>Card Title</h2>
        </div>
        <div class="date">{{event?.startTime | date:'d MMMM, y' }}</div>
        <p>{{event?.title}}</p>
        <span><img src="../assets/img/address.png" alt=""> <span style="padding: 10px">   {{event?.address}}</span></span>
        <div>{{event?.interestedEmployerCount}} người quan tâm </div>
        <a class="bnt-more" routerLink="/manage/events/event-detial/{{event?.id}}">Chi tiết</a>
        <button (click)="edit(event.id)">
          <i class="icon-input"><img src="../assets/img/create.png" alt=""> </i>
        </button>
        <button (click)="deleteEvent( event?.id, i )">
          <i class="icon-input"><img src="../assets/img/trash.png" alt=""> </i>
        </button>
      </div>

    </div>
    <div class="timeline-item"  *ngFor="let event of listEvent, let i = index">

      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInLeft">
        <div class="date">{{event?.startTime | date:'d MMMM, y' }}</div>
        <h2>{{event?.title}}</h2>
        <blockquote>        <span><img src="../assets/img/address.png" alt=""> <span style="padding: 10px">   {{event?.address}}</span></span>
        </blockquote>
        <div>{{event?.interestedEmployerCount}} người quan tâm </div>
        <a class="bnt-more" routerLink="/manage/events/event-detial/{{event?.id}}">Chi tiết</a>
        <button (click)="edit(event.id)">
          <i class="icon-input"><img src="../assets/img/create.png" alt=""></i>
        </button>
        <button (click)="deleteEvent( event?.id, i )">
          <i class="icon-input"><img src="../assets/img/trash.png" alt=""></i>
        </button>
      </div>
    </div>



  </div>
</section>
</div>
