#logo{
  width:100px;
  /*height:150px;*/
}
.expirationDate{
  color:#42abff;
}
.jobName{
  color: #ff8400;
}
.button{
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 7px 14px;
  line-height: 26px;
  margin-top: 15px;
}
.edit{
  background-color: #57b4ff;
}
.delete{
  background-color:  #F44336;
}
#buttonEdit, #buttonDelete{
  color: #fff;
}
a,i{
  display:inline-block;
}
agm-map {
  height: 400px;
}

/*!* The Modal (background) *!*/
/*.modal {*/
/*display: block; !* Hidden by default *!*/
/*position: fixed; !* Stay in place *!*/
/*padding-top: 15px; !* Location of the box *!*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%; !* Full width *!*/
/*height: 100%; !* Full height *!*/
/*overflow: auto; !* Enable scroll if needed *!*/
/*background-color: rgb(0,0,0); !* Fallback color *!*/
/*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*!*transition: all 0.3s;*!*/
/*}*/

/*!* Modal Content *!*/
/*.modal-content {*/
/*background-color: #fefefe;*/
/*margin: auto;*/
/*padding: 20px;*/
/*border: 1px solid #888;*/
/*width: 100%;*/
/*}*/

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pac-container .pac-logo{
  z-index: 2000 !important;
}

.new-form{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  /* background-color: #fff; */
  /* background-clip: padding-box; */
  border: 1px solid #dee2e6;
  border-radius: 0;
  padding: .375rem .75rem;
}

.itemmar{
  margin-top: 1em;
  margin-bottom: 1em;
}

.float-right{
  color: #5a6268;
  cursor: pointer;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
@media (max-width: 767px) {
  h3 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 0.9em;
  }
  .align-center{
    text-align: center;
  }
  #buttonEdit{
    white-space: nowrap;
  }
}

